## fetch the csv

In [11]:
import pandas as pd

df=pd.read_csv('../artifacts/preprocessed_reviews.csv')
df = df[df["Comment"].notnull() & df["Rating"].notnull()]
df = df[df["Comment"].notnull() | df["Rating"].notnull()]
df = df[["Comment", "Rating","lemmatized_text"]]
df_1 = df[df["Rating"]==1].sample(n=2000,random_state=42)
df_2 = df[df["Rating"]==2].sample(n=2000,random_state=42)
df_3 = df[df["Rating"]==3].sample(n=4000,random_state=42)
df_4 = df[df["Rating"]==4].sample(n=2000,random_state=42)
df_5 = df[df["Rating"]==5].sample(n=2000,random_state=42)

df_balanced = pd.concat([df_1,df_2,df_3,df_4,df_5])
df = df_balanced.sample(frac=1,random_state=42).reset_index(drop=True)

In [12]:
df.head()

,Comment,Rating,lemmatized_text
0,"1- Almost no content , all just general knowle...",1.0,no content general knowledge instructor very h...
1,I enjoyed the topic. The lectures could be au...,3.0,enjoy topic lecture augment break piece partic...
2,The lectures are boring and monotonous.,1.0,lecture boring monotonous
3,"It was a bit complex for a beginner, but I lea...",4.0,bit complex beginner but learn lot thank
4,The first few weeks are truly beginner/intro c...,1.0,week truly beginnerintro course stuff entire c...

## Get the count of Ratings

In [13]:
print(df["Rating"].value_counts())

Rating
3.0    4000
1.0    2000
4.0    2000
2.0    2000
5.0    2000
Name: count, dtype: int64

## rating map to sentiments

In [14]:
df["Sentiment"]=df["Rating"].map({
    1:0,
    2:0,
    3:1,
    4:2,
    5:2
})

## sentiment count

In [15]:
print(df["Sentiment"].value_counts())

Sentiment
0    4000
1    4000
2    4000
Name: count, dtype: int64

In [16]:
df.head()

,Comment,Rating,lemmatized_text,Sentiment
0,"1- Almost no content , all just general knowle...",1.0,no content general knowledge instructor very h...,0
1,I enjoyed the topic. The lectures could be au...,3.0,enjoy topic lecture augment break piece partic...,1
2,The lectures are boring and monotonous.,1.0,lecture boring monotonous,0
3,"It was a bit complex for a beginner, but I lea...",4.0,bit complex beginner but learn lot thank,2
4,The first few weeks are truly beginner/intro c...,1.0,week truly beginnerintro course stuff entire c...,0

## Save only selected columns

In [17]:
columns_to_save = ['lemmatized_text', 'Sentiment']
df.to_csv('../artifacts/Trim_data.csv', columns=columns_to_save, index=False,header=True)